## Final Project Submission

Please fill out:
* Student name: Jonathan Vasquez
* Student pace: full time
* Scheduled project review date/time: 05/29/2020
* Instructor name: FangFang & Dan
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!

# Data Cleaning

## Overview
After completing the web scrape of The Box Office Mojo(BOM) and API call of The Movie Database(TMDB) there were still elements of the merged DF that needed to be cleaned.

In [2]:
import csv
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('bom_tmdb_merged.csv')
df = df.drop("Unnamed: 0", axis = 1) #Weird "Unnamed:0" column appeared that needed to be deleted
df

,Title,Worldwide_Lifetime_Gross,Domestic_Lifetime_Gross,Domestic_Percentage,Foreign_Lifetime_Gross,Foreign_Lifetime_Percentage,Year,imdb_id,belongs_to_collection,budget,genres,original_language,popularity,production_companies,production_countries,release_date,runtime
0,Avengers: Endgame,2.797801e+09,858373000.0,30.7%,1.939428e+09,69.3%,2019,tt4154796,"{'id': 86311, 'name': 'The Avengers Collection...",356000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",en,41.244,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,181.0
1,Avatar,2.790439e+09,760507625.0,27.2%,2.029931e+09,72.8%,2009,tt0499549,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,40.099,"[{'id': 444, 'logo_path': '/42UPdZl6B2cFXgNUAS...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,162.0
2,Titanic,2.194440e+09,659363944.0,30%,1.535076e+09,70%,1997,tt0120338,NaN,200000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",en,33.658,"[{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,194.0
3,Star Wars: Episode VII - The Force Awakens,2.068224e+09,936662225.0,45.3%,1.131561e+09,54.7%,2015,tt2488496,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,40.452,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,136.0
4,Avengers: Infinity War,2.048360e+09,678815482.0,33.1%,1.369544e+09,66.9%,2018,tt4154756,"{'id': 86311, 'name': 'The Avengers Collection...",300000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,66.376,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,149.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Magic Mike,1.677394e+08,113721571.0,67.8%,5.401780e+07,32.2%,2012,tt1915581,"{'id': 328247, 'name': 'Magic Mike Collection'...",7000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",en,11.871,"[{'id': 34981, 'logo_path': None, 'name': 'Iro...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-06-28,110.0
996,Alexander,1.672982e+08,34297191.0,20.5%,1.330010e+08,79.5%,2004,tt0346491,NaN,155000000.0,"[{'id': 10752, 'name': 'War'}, {'id': 36, 'nam...",en,21.080,"[{'id': 54997, 'logo_path': None, 'name': 'WR ...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2004-11-21,175.0
997,Up in the Air,1.668427e+08,83823381.0,50.2%,8.301936e+07,49.8%,2009,tt1193138,NaN,25000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",en,14.904,"[{'id': 32157, 'logo_path': '/nBD7uzlUlpivUpOo...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-09-05,110.0
998,Nutty Professor II: The Klumps,1.663399e+08,123309890.0,74.1%,4.303000e+07,25.9%,2000,tt0144528,"{'id': 86028, 'name': 'The Nutty Professor Col...",84000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",en,12.950,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-07-27,106.0
999,Sleepers,1.656153e+08,53315285.0,32.2%,1.123000e+08,67.8%,1996,tt0117665,NaN,44000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",en,24.682,"[{'id': 278, 'logo_path': None, 'name': 'Propa...","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-10-18,147.0

In [4]:
df['Worldwide_Lifetime_Gross'] = df.Worldwide_Lifetime_Gross.astype(int)

In [5]:
df['Domestic_Lifetime_Gross'] = df.Domestic_Lifetime_Gross.astype(int)

In [6]:
df['Foreign_Lifetime_Gross'] = df.Foreign_Lifetime_Gross.astype(int)

In [7]:
df #Realized that int display entire number as opposed to floats

,Title,Worldwide_Lifetime_Gross,Domestic_Lifetime_Gross,Domestic_Percentage,Foreign_Lifetime_Gross,Foreign_Lifetime_Percentage,Year,imdb_id,belongs_to_collection,budget,genres,original_language,popularity,production_companies,production_countries,release_date,runtime
0,Avengers: Endgame,2797800564,858373000,30.7%,1939427564,69.3%,2019,tt4154796,"{'id': 86311, 'name': 'The Avengers Collection...",356000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",en,41.244,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,181.0
1,Avatar,2790439000,760507625,27.2%,2029931375,72.8%,2009,tt0499549,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,40.099,"[{'id': 444, 'logo_path': '/42UPdZl6B2cFXgNUAS...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,162.0
2,Titanic,2194439542,659363944,30%,1535075598,70%,1997,tt0120338,NaN,200000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",en,33.658,"[{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,194.0
3,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,45.3%,1131561399,54.7%,2015,tt2488496,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,40.452,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,136.0
4,Avengers: Infinity War,2048359754,678815482,33.1%,1369544272,66.9%,2018,tt4154756,"{'id': 86311, 'name': 'The Avengers Collection...",300000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,66.376,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,149.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Magic Mike,167739368,113721571,67.8%,54017797,32.2%,2012,tt1915581,"{'id': 328247, 'name': 'Magic Mike Collection'...",7000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",en,11.871,"[{'id': 34981, 'logo_path': None, 'name': 'Iro...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-06-28,110.0
996,Alexander,167298192,34297191,20.5%,133001001,79.5%,2004,tt0346491,NaN,155000000.0,"[{'id': 10752, 'name': 'War'}, {'id': 36, 'nam...",en,21.080,"[{'id': 54997, 'logo_path': None, 'name': 'WR ...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2004-11-21,175.0
997,Up in the Air,166842739,83823381,50.2%,83019358,49.8%,2009,tt1193138,NaN,25000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",en,14.904,"[{'id': 32157, 'logo_path': '/nBD7uzlUlpivUpOo...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-09-05,110.0
998,Nutty Professor II: The Klumps,166339890,123309890,74.1%,43030000,25.9%,2000,tt0144528,"{'id': 86028, 'name': 'The Nutty Professor Col...",84000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",en,12.950,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-07-27,106.0
999,Sleepers,165615285,53315285,32.2%,112300000,67.8%,1996,tt0117665,NaN,44000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",en,24.682,"[{'id': 278, 'logo_path': None, 'name': 'Propa...","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-10-18,147.0

In [8]:
df.info() #The DF did not merge as cleaning as I thought

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Title                        1000 non-null   object
 1   Worldwide_Lifetime_Gross     1000 non-null   int64
 2   Domestic_Lifetime_Gross      1000 non-null   int64
 3   Domestic_Percentage          1000 non-null   object
 4   Foreign_Lifetime_Gross       1000 non-null   int64
 5   Foreign_Lifetime_Percentage  1000 non-null   object
 6   Year                         1000 non-null   int64
 7   imdb_id                      1000 non-null   object
 8   belongs_to_collection        521 non-null    object
 9   budget                       996 non-null    float64
 10  genres                       996 non-null    object
 11  original_language            996 non-null    object
 12  popularity                   996 non-null    float64
 13  production_companies         996 non-null    object
 14  production_countries         996 non-null    object
 15  release_date                 996 non-null    object
 16  runtime                      996 non-null    float64
dtypes: float64(3), int64(4), object(10)
memory usage: 132.9+ KB

In [9]:
df = df[df['genres'].notna()]
df.info() #Setting my DF to be more even by setting 'genres' as the psuedo-index

<class 'pandas.core.frame.DataFrame'>
Int64Index: 996 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Title                        996 non-null    object
 1   Worldwide_Lifetime_Gross     996 non-null    int64
 2   Domestic_Lifetime_Gross      996 non-null    int64
 3   Domestic_Percentage          996 non-null    object
 4   Foreign_Lifetime_Gross       996 non-null    int64
 5   Foreign_Lifetime_Percentage  996 non-null    object
 6   Year                         996 non-null    int64
 7   imdb_id                      996 non-null    object
 8   belongs_to_collection        521 non-null    object
 9   budget                       996 non-null    float64
 10  genres                       996 non-null    object
 11  original_language            996 non-null    object
 12  popularity                   996 non-null    float64
 13  production_companies         996 non-null    object
 14  production_countries         996 non-null    object
 15  release_date                 996 non-null    object
 16  runtime                      996 non-null    float64
dtypes: float64(3), int64(4), object(10)
memory usage: 140.1+ KB

In [10]:
df['belongs_to_collection'] = df['belongs_to_collection'].fillna('N/A')
df.info() #Filled in the void for 'belongs_to_collection' with 'N/A'

<class 'pandas.core.frame.DataFrame'>
Int64Index: 996 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Title                        996 non-null    object
 1   Worldwide_Lifetime_Gross     996 non-null    int64
 2   Domestic_Lifetime_Gross      996 non-null    int64
 3   Domestic_Percentage          996 non-null    object
 4   Foreign_Lifetime_Gross       996 non-null    int64
 5   Foreign_Lifetime_Percentage  996 non-null    object
 6   Year                         996 non-null    int64
 7   imdb_id                      996 non-null    object
 8   belongs_to_collection        996 non-null    object
 9   budget                       996 non-null    float64
 10  genres                       996 non-null    object
 11  original_language            996 non-null    object
 12  popularity                   996 non-null    float64
 13  production_companies         996 non-null    object
 14  production_countries         996 non-null    object
 15  release_date                 996 non-null    object
 16  runtime                      996 non-null    float64
dtypes: float64(3), int64(4), object(10)
memory usage: 140.1+ KB

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
df #Now all cells are filled with some type of data

,Title,Worldwide_Lifetime_Gross,Domestic_Lifetime_Gross,Domestic_Percentage,Foreign_Lifetime_Gross,Foreign_Lifetime_Percentage,Year,imdb_id,belongs_to_collection,budget,genres,original_language,popularity,production_companies,production_countries,release_date,runtime
0,Avengers: Endgame,2797800564,858373000,30.7%,1939427564,69.3%,2019,tt4154796,"{'id': 86311, 'name': 'The Avengers Collection...",356000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",en,41.244,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,181.0
1,Avatar,2790439000,760507625,27.2%,2029931375,72.8%,2009,tt0499549,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,40.099,"[{'id': 444, 'logo_path': '/42UPdZl6B2cFXgNUAS...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,162.0
2,Titanic,2194439542,659363944,30%,1535075598,70%,1997,tt0120338,N/A,200000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",en,33.658,"[{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,194.0
3,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,45.3%,1131561399,54.7%,2015,tt2488496,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,40.452,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,136.0
4,Avengers: Infinity War,2048359754,678815482,33.1%,1369544272,66.9%,2018,tt4154756,"{'id': 86311, 'name': 'The Avengers Collection...",300000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,66.376,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,149.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Magic Mike,167739368,113721571,67.8%,54017797,32.2%,2012,tt1915581,"{'id': 328247, 'name': 'Magic Mike Collection'...",7000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",en,11.871,"[{'id': 34981, 'logo_path': None, 'name': 'Iro...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-06-28,110.0
996,Alexander,167298192,34297191,20.5%,133001001,79.5%,2004,tt0346491,N/A,155000000.0,"[{'id': 10752, 'name': 'War'}, {'id': 36, 'nam...",en,21.080,"[{'id': 54997, 'logo_path': None, 'name': 'WR ...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2004-11-21,175.0
997,Up in the Air,166842739,83823381,50.2%,83019358,49.8%,2009,tt1193138,N/A,25000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",en,14.904,"[{'id': 32157, 'logo_path': '/nBD7uzlUlpivUpOo...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-09-05,110.0
998,Nutty Professor II: The Klumps,166339890,123309890,74.1%,43030000,25.9%,2000,tt0144528,"{'id': 86028, 'name': 'The Nutty Professor Col...",84000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",en,12.950,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-07-27,106.0
999,Sleepers,165615285,53315285,32.2%,112300000,67.8%,1996,tt0117665,N/A,44000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",en,24.682,"[{'id': 278, 'logo_path': None, 'name': 'Propa...","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-10-18,147.0

In [12]:
df['budget'] = df.budget.astype(int)
df.info() #Setting budget to int64 to interact with WLG, DLG, and FLG

<class 'pandas.core.frame.DataFrame'>
Int64Index: 996 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Title                        996 non-null    object
 1   Worldwide_Lifetime_Gross     996 non-null    int64
 2   Domestic_Lifetime_Gross      996 non-null    int64
 3   Domestic_Percentage          996 non-null    object
 4   Foreign_Lifetime_Gross       996 non-null    int64
 5   Foreign_Lifetime_Percentage  996 non-null    object
 6   Year                         996 non-null    int64
 7   imdb_id                      996 non-null    object
 8   belongs_to_collection        996 non-null    object
 9   budget                       996 non-null    int64
 10  genres                       996 non-null    object
 11  original_language            996 non-null    object
 12  popularity                   996 non-null    float64
 13  production_companies         996 non-null    object
 14  production_countries         996 non-null    object
 15  release_date                 996 non-null    object
 16  runtime                      996 non-null    float64
dtypes: float64(2), int64(5), object(10)
memory usage: 140.1+ KB

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
df.belongs_to_collection

0      {'id': 86311, 'name': 'The Avengers Collection...
1      {'id': 87096, 'name': 'Avatar Collection', 'po...
2                                                    N/A
3      {'id': 10, 'name': 'Star Wars Collection', 'po...
4      {'id': 86311, 'name': 'The Avengers Collection...
                             ...
995    {'id': 328247, 'name': 'Magic Mike Collection'...
996                                                  N/A
997                                                  N/A
998    {'id': 86028, 'name': 'The Nutty Professor Col...
999                                                  N/A
Name: belongs_to_collection, Length: 996, dtype: object

In [14]:
df['belongs_to_collection'] = df.belongs_to_collection.str.extract('(\d+)') #Regular expression capture group

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 996 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Title                        996 non-null    object
 1   Worldwide_Lifetime_Gross     996 non-null    int64
 2   Domestic_Lifetime_Gross      996 non-null    int64
 3   Domestic_Percentage          996 non-null    object
 4   Foreign_Lifetime_Gross       996 non-null    int64
 5   Foreign_Lifetime_Percentage  996 non-null    object
 6   Year                         996 non-null    int64
 7   imdb_id                      996 non-null    object
 8   belongs_to_collection        521 non-null    object
 9   budget                       996 non-null    int64
 10  genres                       996 non-null    object
 11  original_language            996 non-null    object
 12  popularity                   996 non-null    float64
 13  production_companies         996 non-null    object
 14  production_countries         996 non-null    object
 15  release_date                 996 non-null    object
 16  runtime                      996 non-null    float64
dtypes: float64(2), int64(5), object(10)
memory usage: 140.1+ KB

In [16]:
df

,Title,Worldwide_Lifetime_Gross,Domestic_Lifetime_Gross,Domestic_Percentage,Foreign_Lifetime_Gross,Foreign_Lifetime_Percentage,Year,imdb_id,belongs_to_collection,budget,genres,original_language,popularity,production_companies,production_countries,release_date,runtime
0,Avengers: Endgame,2797800564,858373000,30.7%,1939427564,69.3%,2019,tt4154796,86311,356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",en,41.244,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,181.0
1,Avatar,2790439000,760507625,27.2%,2029931375,72.8%,2009,tt0499549,87096,237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,40.099,"[{'id': 444, 'logo_path': '/42UPdZl6B2cFXgNUAS...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,162.0
2,Titanic,2194439542,659363944,30%,1535075598,70%,1997,tt0120338,NaN,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",en,33.658,"[{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,194.0
3,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,45.3%,1131561399,54.7%,2015,tt2488496,10,245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,40.452,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,136.0
4,Avengers: Infinity War,2048359754,678815482,33.1%,1369544272,66.9%,2018,tt4154756,86311,300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,66.376,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,149.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Magic Mike,167739368,113721571,67.8%,54017797,32.2%,2012,tt1915581,328247,7000000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",en,11.871,"[{'id': 34981, 'logo_path': None, 'name': 'Iro...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-06-28,110.0
996,Alexander,167298192,34297191,20.5%,133001001,79.5%,2004,tt0346491,NaN,155000000,"[{'id': 10752, 'name': 'War'}, {'id': 36, 'nam...",en,21.080,"[{'id': 54997, 'logo_path': None, 'name': 'WR ...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2004-11-21,175.0
997,Up in the Air,166842739,83823381,50.2%,83019358,49.8%,2009,tt1193138,NaN,25000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",en,14.904,"[{'id': 32157, 'logo_path': '/nBD7uzlUlpivUpOo...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-09-05,110.0
998,Nutty Professor II: The Klumps,166339890,123309890,74.1%,43030000,25.9%,2000,tt0144528,86028,84000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",en,12.950,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-07-27,106.0
999,Sleepers,165615285,53315285,32.2%,112300000,67.8%,1996,tt0117665,NaN,44000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",en,24.682,"[{'id': 278, 'logo_path': None, 'name': 'Propa...","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-10-18,147.0

In [17]:
df['genres'] = df['genres'].map(lambda x: x.split()[3]).str.replace('},', '') 
df['genres'] = df['genres'].str.replace('}]', '')
#To solely have the genre, [3]indexes third element & '}' refers to what is at the end of the element

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
df['genres'].value_counts()

'Action'         256
'Adventure'      166
'Comedy'         155
'Drama'          118
'Animation'       78
'Fantasy'         44
'Thriller'        34
'Science          32
'Horror'          27
'Crime'           24
'Romance'         17
'Family'          17
'Mystery'         11
'History'          6
'War'              6
'Music'            3
'Documentary'      1
'Western'          1
Name: genres, dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 996 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Title                        996 non-null    object
 1   Worldwide_Lifetime_Gross     996 non-null    int64
 2   Domestic_Lifetime_Gross      996 non-null    int64
 3   Domestic_Percentage          996 non-null    object
 4   Foreign_Lifetime_Gross       996 non-null    int64
 5   Foreign_Lifetime_Percentage  996 non-null    object
 6   Year                         996 non-null    int64
 7   imdb_id                      996 non-null    object
 8   belongs_to_collection        521 non-null    object
 9   budget                       996 non-null    int64
 10  genres                       996 non-null    object
 11  original_language            996 non-null    object
 12  popularity                   996 non-null    float64
 13  production_companies         996 non-null    object
 14  production_countries         996 non-null    object
 15  release_date                 996 non-null    object
 16  runtime                      996 non-null    float64
dtypes: float64(2), int64(5), object(10)
memory usage: 140.1+ KB

In [20]:
df["belongs_to_collection"].fillna("No Collection", inplace = True) #To fill the void in 'belongs_to_collection'

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [21]:
df['production_companies'] = df["production_companies"].str.join("") #I returned one string
df

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Title,Worldwide_Lifetime_Gross,Domestic_Lifetime_Gross,Domestic_Percentage,Foreign_Lifetime_Gross,Foreign_Lifetime_Percentage,Year,imdb_id,belongs_to_collection,budget,genres,original_language,popularity,production_companies,production_countries,release_date,runtime
0,Avengers: Endgame,2797800564,858373000,30.7%,1939427564,69.3%,2019,tt4154796,86311,356000000,'Adventure',en,41.244,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,181.0
1,Avatar,2790439000,760507625,27.2%,2029931375,72.8%,2009,tt0499549,87096,237000000,'Action',en,40.099,"[{'id': 444, 'logo_path': '/42UPdZl6B2cFXgNUAS...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,162.0
2,Titanic,2194439542,659363944,30%,1535075598,70%,1997,tt0120338,No Collection,200000000,'Drama',en,33.658,"[{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,194.0
3,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,45.3%,1131561399,54.7%,2015,tt2488496,10,245000000,'Action',en,40.452,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,136.0
4,Avengers: Infinity War,2048359754,678815482,33.1%,1369544272,66.9%,2018,tt4154756,86311,300000000,'Adventure',en,66.376,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,149.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Magic Mike,167739368,113721571,67.8%,54017797,32.2%,2012,tt1915581,328247,7000000,'Drama',en,11.871,"[{'id': 34981, 'logo_path': None, 'name': 'Iro...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-06-28,110.0
996,Alexander,167298192,34297191,20.5%,133001001,79.5%,2004,tt0346491,No Collection,155000000,'War',en,21.080,"[{'id': 54997, 'logo_path': None, 'name': 'WR ...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2004-11-21,175.0
997,Up in the Air,166842739,83823381,50.2%,83019358,49.8%,2009,tt1193138,No Collection,25000000,'Drama',en,14.904,"[{'id': 32157, 'logo_path': '/nBD7uzlUlpivUpOo...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-09-05,110.0
998,Nutty Professor II: The Klumps,166339890,123309890,74.1%,43030000,25.9%,2000,tt0144528,86028,84000000,'Fantasy',en,12.950,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-07-27,106.0
999,Sleepers,165615285,53315285,32.2%,112300000,67.8%,1996,tt0117665,No Collection,44000000,'Crime',en,24.682,"[{'id': 278, 'logo_path': None, 'name': 'Propa...","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-10-18,147.0

In [22]:
#I understand this is not the best way but I couldn't get past having 
#the 'production_companies' as one individual string
Production_Company = ['Marvel Studios', 'Dune Entertainment', 'Paramount', 
                            'Truenorth Productions', 'Marvel Studios', 'Fuji Television', 
                            'Walt Disney', 'Marvel Studios', 'Abu Dhabi', 'Walt Disney', 
                            'Marvel Studios', 'Marvel Studios', 'Warner Bros.', 'Lucasfilm',
                            'Amblin Entertainment', 'Walt Disney', 'Walt Disney', 'Walt Disney',
                            'Universal Pictures', 'Marvel Studios', 'Illumination Entertainment',
                            'Marvel Studios', 'DC Comics', 'New Line', 'Marvel Studios', 
                            'Marvel Studios', 'Hasbro Studios', 'Danjaq', 'Hasbro Studios',
                            'Syncopy', 'DC Entertainment', 'Walt Disney', 'Lucasfilm','Pixar',
                            'Walt Disney', 'Lucasfilm', 'Walt Disney', 'Walt Disney', 
                            'Universal Pictures', 'Universal Pictures', 'Pixar', 'Lucasfilm',
                            'Walt Disney', 'Walt Disney', 'Warner Bros.', 'DC Comics', 'Warner Bros.', 
                            'Warner Bros.', 'Illumination Entertainment', 'Walt Disney', 'Walt Disney', 
                            'Radar Pictures', 'Jerry Bruckheimer', 'Warner Bros.', 'Warner Bros.',
                            'New Line', 'Warner Bros.', 'Pixar', 'Warner Bros.', 'DreamWorks Animation',
                            'GK Films', 'Patalex IV', 'Marvel Enterprises', 'New Line', 'Blue Sky',
                            'Danjaq', 'Marvel Studios', '1492 Pictures', 'Blue Sky', 'Universal Pictures',
                            'RatPac-Dune Entertainment', 'Spring Era', 'Lucasfilm', 'Lionsgate',
                            'Marvel Studios', 'Pixar', 'Avi Arad', 'Marvel Studios', 'Hasbro Studios',
                            'Legendary Entertainment', 'Sunswept Entertainment', 'Marvel Enterprises',
                            'Dune Entertainment', 'Centropolis Entertainment', 'Heyday Films',
                            'DreamWorks Animation', 'Pixar', '1492 Pictures', 'Walt Disney', 
                            'Universal Pictures', 'Columbia Pictures', 'Paramount', 'Columbia Pictures',
                            'Paramount', 'Columbia Pictures', 'Universal Pictures', 'Marvel Entertainment',
                            'Marvel Entertainment', 'Lucasfilm', 'Marvel Studios', 'Imagine Entertainment',
                            'Chris Morgan', 'Walt Disney', 'Columbia Pictures', 'Lionsgate', 
                            'DreamWorks Animation', 'DreamWorks Animation', 'DC Entertainment',
                            'Revolution Sun', 'Walt Disney', 'Pixar', 'Heineken Branded', 'Pixar',
                            'Esperanto Filmoj', 'Marvel Studios', 'Zohar International', 
                            'Summit Entertainment', 'TSG Entertainment', 'Hasbro Studios', 
                            'Marvel Entertainment', 'RatPac-Dune Entertainment', 'China Film', 
                            'Sunswept Entertainment', 'Paramount', 'Lionsgate', 'Walt Disney', 
                            'Paramount', 'Paramount', 'Marvel Studios', 'Legendary Entertainment',
                            'Spyglass Entertainment', 'Legendary Entertainment', '20th Century',
                            'DreamWorks Animation', 'Studio Babelsberg', 'DC" Comics', 'Walt Disney', 
                            'Warner Bros.', 'Jerry Bruckheimer', 'Lucasfilm', 'Marvel Studios',
                            'Illumination Entertainment', 'Pixar', 'DreamWorks Animation', 'Pixar',
                            'Scott Free', 'GH Three', 'Original Film', 'Amblin Entertainment',
                            'Marvel Studios', 'Pixar', 'Marvel Studios', 'DreamWorks Animation',
                            'The Donners', 'Universal Pictures', 'Babelsberg Film', 'Icon Productions',
                            'Littlestar', 'Fox 2000', 'Tom DeSanto/Don', 'DreamWorks Animation',
                            'Paramount', 'Walt Disney', 'Eon Productions', 'Parkes+MacDonald Image', 
                            'DreamWorks Animation', 'Legendary Entertainment', 'Village Roadshow', 
                            'Marvel Studios', 'Amblin Entertainment', 'Bona Film', '1492 Pictures',
                            'Focus Features', 'Legendary Entertainment', 'Sony Pictures', 
                            'Universal Pictures', 'Pixar', 'DreamWorks Animation', 'China Film', 
                            'Touchstone Pictures', 'Mel\'s Cite', 'Universal Pictures', 'Lucasfilm',
                            'RatPac-Dune Entertainment', 'Paramount', 'Wanda" Pictures', 'The Donners', 
                            'Village Roadshow', 'Illumination Entertainment', 'Walt Disney', 
                            'Pacific Data', 'GK Films', 'Pixar', 'AKOM Production', 'Monarchy Enterprises', 
                            'Apelles Entertainment', 'Walt Disney', 'Columbia Pictures', 
                            'DreamWorks Animation', 'RatPac-Dune Entertainment', 'RatPac-Dune Entertainment',
                            'Village Roadshow', 'Universal Pictures', 'DreamWorks Animation', 'Pixar',
                            'Pearl Studio', 'T2 Productions', 'Marvel Studios', 'Universal Pictures',
                            'Paramount', 'Walt Disney', 'Blue Sky', 'Radiant Productions', 'Pixar', 
                            'DreamWorks Animation', 'Constant c', 'Roth Films', 'The Zanuck', 
                            'Walt Disney', 'TSG Entertainment', 'Epsilon Motion', 'Columbia Pictures',
                            'Nickelodeon Movies', 'Pit Bull', 'DreamWorks Animation', 'Blue Sky', 
                            'Paramount', 'Dune Entertainment', 'Hughes Entertainment', 'Lucasfilm',
                            'Village Roadshow', 'Sony Pictures', 'Lucasfilm', 'New Line', 
                            'Lin Pictures', 'Walt Disney', 'Zanuck/Brown Productions', 
                            'Legendary Entertainment', 'Lin Pictures', 'Hasbro', 'Bad Robot',
                            'Village Roadshow', 'Touchstone Pictures', 'Pixar', 'Universal Pictures',
                            'Marvel Enterprises', 'Walt Disney', 'EuropaCorp', 'Paramount', 
                            'Virtual Studios', 'Cruise/Wagner Productions', 'Huanxi Media', 'WV Films',
                            'Marvel Studios', 'Jerry Bruckheimer', 'Walt Disney', 'Summit Entertainment',
                            'Parkes+MacDonald Image', 'Universal Pictures', 'Universal Pictures',
                            'Fox 2000', 'Working Title', 'Hoya Productions', 'Blue Wolf', 'Skydance Media',
                            'Walt Disney', 'Legendary Entertainment', 'Thunder Road', 
                            'Chernin Entertainment', 'Columbia Pictures', 'Legendary Entertainment', 
                            'Eon Productions', 'Universal Pictures', 'Playtone', 'Wrigley ictures', 
                            'The Weinstein', 'Silver Pictures', 'Gaumont', 'The Weinstein', 
                            'Tig Productions', 'Walt Disney', 'Darren Star', 'Universal Pictures',
                            'Walden Media', 'The Kennedy/Marshall', 'The Donners', 'TSG Entertainment',
                            '21 Laps', 'PolyGram Filmed', 'Kasdan Pictures', 'Double Dare', 
                            'TSG Entertainment', 'Secret Hideout', 'Blue Sky', 'Twilight Productions',
                            'Touchstone Pictures', 'XM2 Productions', 'Columbia Pictures', 
                            'Troublemaker Studios', 'Pixar', 'Universal Pictures', 'Dune Entertainment',
                            'Selznick International', 'Revolution Sun', 'Studio Babelsberg', 'Paramount',
                            'Universal Pictures', 'Legendary Entertainment', 'Lucasfilm', 
                            'EMJAG Productions', 'DC Comics', 'Morgan Creek', 'Lucasfilm',
                            'Centropolis Entertainment', 'U-Drive Productions', 'Dune Entertainment',
                            'Edko Films', 'Legendary Entertainment', 'DreamWorks Animation', 'Paramount',
                            'Kennedy Miller', 'Pixar', 'Blue Sky', 'Universal Pictures', 
                            'DreamWorks Animation', 'Toho Company', 'Lightstorm Entertainment',
                            'Celador Films', 'EuropaCorp', 'Paramount', 'Columbia Pictures',
                            'Village Roadshow', 'DreamWorks Animation', 'Heyday Films', 
                            'Centropolis Entertainment', 'Paramount', 'DreamWorks Animation',
                            'DC Comics', 'Marvel Entertainment', 'Depth of', 'Universal Pictures',
                            'Columbia Pictures', 'Columbia Pictures', 'Marvel Studios', 
                            'RatPac-Dune Entertainment', '20th Century', 'Regency Enterprises',
                            'Warner Bros.', 'Amblin Entertainment', 'Ontario Film', 'Cinergi Pictures', 
                            'DC Entertainment', 'New Line', 'Fox 2000', 'Hughes Entertainment',
                            'Notting Hill', 'Pixar', 'Moving Picture', 'Village Roadshow', 'Neal Street',
                            'Tim Burton', 'Green Hat', 'Eon Productions', 'Edko Films', 'Dentsu',
                            'Disruption Entertainment', 'Jerry Weintraub', 'CoMix Wave', 'Columbia Pictures',
                            'Digital Image', 'Paramount', 'Village Roadshow', 'Jinks/Cohen Company',
                            'Imagine Entertainment', 'United Artists', 'Spectrum Films', 'Tim Burton',
                            'Mediastream Vierte', 'Carolco Pictures', 'The Mark', 'Ingenious Media', 
                            'Columbia Pictures', 'Eon Productions', 'Parkes/MacDonald Productions',
                            'Summit Entertainment', 'Dino De', 'Dark Horse', 'Columbia Pictures',
                            '20th Century', 'Walt Disney', 'Walt Disney', 'Paramount', 'Universal Pictures',
                            'Ingenious Media', 'Studio Ghibli', 'NeoReel', 'Walt Disney', 'New Line',
                            'DreamWorks Animation', 'Rox Productions', 'Walt Disney', 'Universal Pictures',
                            'Skydance Media', 'Fox 2000', 'Kickstart', 'Hanna-Barbera Productions',
                            'Sunday Night', 'Walt Disney', 'DreamWorks Animation', 
                            'Legendary Entertainment', 'DC Comics', 'Walt Disney', 'U-Drive Productions',
                            'Paramount', 'Walden Media', 'Don Simpson/Jerry', 'Legendary Entertainment', 
                            'Summit Entertainment', 'Kumar Mobiliengesellschaft', 'Lucasfilm',
                            'Eon Productions', 'Pixar', 'Columbia Pictures', 'Tribeca Productions',
                            'Amblin Entertainment', 'Participant Media', 'Dune Entertainment', 
                            'Baltimore Spring', 'Paramount', 'Fox 2000', 'Juno Pix', 'Summit Entertainment',
                            'EuropaCorp', 'Walt Disney', 'Walt Disney', 'Paramount Animation',
                            'Universal Pictures', 'DreamWorks Animation', 'St. Petersburg',
                            'Lakeshore Entertainment', 'Scott Free', 'The Weinstein', 'Great Oaks',
                            'New Line', 'Paramount', 'Paramount', 'Evergreen Media', 'Kurtzman/Orci',
                            'Universal Pictures', 'Paramount', 'Radiant Productions', 'Nu Image',
                            'Walt Disney', 'Gracie Films', 'Golden Mean', 'Temple Hill', 
                            'Screen Gems', 'New Line', 'Lin Pictures', 'Section Eight', 
                            'Universal Pictures', 'Walt Disney', 'Touchstone Pictures',
                            'Lakeshore Entertainment', 'Alcon Entertainment', 'Lionsgate',
                            'Huayi Brothers', 'TSG Entertainment', 'Escape Artists', 'DreamWorks Animation',
                            'Julia Phillips', 'Miramax', 'Atomic Monster', 'Lionsgate',
                            'Flynn Picture', 'Mid Atlantic', 'Walt Disney', 'Aamir Khan',
                            'Wanda Pictures', 'Universal Pictures', 'Universal Pictures', 'Paramount',
                            'Thunder Road', '1492 Pictures', 'Amblin Entertainment', 'Winkler Films',
                            'Dovemead Films', 'TriStar Pictures', 'Screen Gems', 'Universal Pictures',
                            'Global Medien', 'Eddie Murphy', 'Legend3D', 'TriStar Pictures', 'Wardour Street',
                            'Blue Sky', 'Village Roadshow', 'Summit Entertainment', 'Management Company',
                            'Eric\'s Boy', 'Big Screen', 'Marvel Enterprises', 'Blue Sky', 'Delphi Films',
                            'Appian Way', 'Joseph M.', 'Columbus 81', 'Wintergreen Productions',
                            'Walt Disney', 'Vertigo Entertainment', 'ImageMovers', 
                            'Legendary Entertainment', 'Universal Pictures', 'Village Roadshow',
                            'Universal Pictures', 'Summit Entertainment', 'Eddie Murphy', 'Avery Pix',
                            'Apatow Productions', 'Gotham Group', 'The Harvey', 'Universal Pictures',
                            'Universal Pictures', 'Castle Rock', 'Universal Pictures', 'Genre Films',
                            'Silver Pictures', 'Walt Disney', 'Heyday Films', 'DreamWorks Animation',
                            'Miramax', 'Columbia Pictures', 'Universal Pictures', 'Brad Grey',
                            'Columbia Pictures', 'Universal Pictures', 'Pacific Data', 'Atlas Entertainment',
                            'DreamWorks Pictures', 'Paramount', 'Square Enix', 'Nimar Studios', 
                            'Sony Pictures', 'Walt Disney', 'Universal Pictures', 'Gracie Films',
                            'Don Simpson/Jerry', 'Walt Disney', 'Strong Heart/Demme', 'Columbia Pictures',
                            'Good Universe', 'Mirage Enterprises', 'Vincent Newman', 'Matten Productions',
                            'Centropolis Entertainment', 'Film Rites', 'Blue Sky', 'Volcano Films',
                            'Walt Disney', 'Walt Disney', 'PolyGram Filmed', 'Original Film', 'Paramount',
                            'Waverly Films', 'Miramax', 'Marvel Studios', 'Gordon Company', 'Paramount',
                            'Columbia Pictures', 'Columbia Pictures', 'TriStar Pictures', 'Four By',
                            'Blue Sky', 'Pink Machine', 'Carolco Pictures', 'Columbia Pictures',
                            'Lightstorm Entertainment', 'Silver Bullet', 'K/O Camera', 'Beijing Enlight',
                            'Torridon Films', 'Wonderland Sound', 'New Line', 'Redwave Films',
                            'Shinework Media', 'Atomic Monster', 'Touchstone Pictures', 'Luck Road',
                            'Jersey Films', 'Sunswept Entertainment', 'Universal Pictures',
                            'Monkeypaw Productions', 'Monkeypaw Productions', 'RCS Video', 'Arka Media',
                            'Universal Pictures', 'Amblin Entertainment', 'Touchstone Pictures',
                            'Walt Disney', 'Walt Disney', 'The Donners', 'Paramount', 'Tiger Aspect',
                            'Annapurna Pictures', 'No Such', 'Warner Bros.', 'Fox 2000', 'Walt Disney',
                            'TriStar Pictures', 'BenderSpink', 'Haxan Films', 'Limited Edition',
                            'Star Overseas', 'New Line', 'Universal Pictures', 'Columbia Pictures',
                            'Blue Sky', 'Universal Pictures', 'Paramount', 'Paramount Animation', 
                            'PolyGram Filmed', 'Krane Entertainment', '5150 Action', 'Tim Burton',
                            'Marvel Enterprises', 'Working Title', 'Columbia Pictures', 'Paramount',
                            'Roger Birnbaum', 'New Line', 'Columbia Pictures', 'David Brown', 
                            'Sony Pictures', 'Mikona Productions', 'Paramount', 'Columbia Pictures',
                            'Kopelson Entertainment', 'Scott Free', 'Malpaso Productions', 'New Regency',
                            'Original Film', 'Gordon Company', 'Screen Gems', 'Paramount', 'Walt Disney',
                            'Color Force', 'DC Comics', 'Dune Entertainment', 'Jerry Bruckheimer',
                            'Robert Stigwood', 'The Weinstein', 'Ardustry Entertainment', 'd-rights',
                            'Fox 2000', 'Amblin Entertainment', 'Touchstone Pictures', 
                            'Chernin Entertainment', 'Summit Entertainment', 'Universal Pictures',
                            'Columbia Pictures', 'TSG Entertainment', 'Bristol Automotive',
                            'Dune Entertainment', 'Loumolo &', 'Ground Control', 'Mandate Pictures',
                            'GK Films', 'Tiger Aspect', 'CJ Entertainment', 'Miramax', 'Touchstone Pictures',
                            'Atomic Monster', 'Village Roadshow', 'WV Films', 'Courtside Seats',
                            'Melampo Cinematografica', 'Chernin Entertainment', 'Ghostcorps',
                            'Crystal Sky', 'Beijing Mahua', 'Heyday Films', 'TriStar Pictures',
                            'Silver Pictures', 'Original Film', 'UniversalcPictures', 'Huayi Brothers',
                            'TriStar Pictures', 'Virgin Produced', 'Wintergreen Productions',
                            '1492 Pictures', 'Paramount', 'Miramax', 'BNP Paribas', '20th Century',
                            'Dune Entertainment', 'Columbia Pictures', 'DreamWorks Animation',
                            'Hiett Designs', 'Geffen Pictures', 'Touchstone Pictures', 'The Zanuck',
                            'TF1', 'Buena Vista', 'Fellowship Adventure', 'Peters Entertainment',
                            'New Line', 'Twisted Media', 'Mirage Enterprises', 'Paramount', 'Brad Grey',
                            'Mid Atlantic', 'Apatow Productions', 'DC Entertainment', 'Penn Station',
                            'Universal Pictures', 'Amblin Entertainment', 'Columbia Pictures',
                            'DreamWorks Animation', 'Paramount', 'Studio Babelsberg', 'Columbia Pictures',
                            'Great American', 'Universal Pictures', 'Fuji Television', 'Universal Pictures', 
                            'Lakeshore Entertainment', 'Touchstone Pictures', 'Universal Pictures',
                            'Karz Entertainment', 'Columbia Pictures', 'Walt Disney', 'Paramount',
                            'Smart Entertainment', 'American Zoetrope', 'Global Entertainment', 
                            'Columbia Pictures', 'Centropolis Entertainment', 'Junction Entertainment',
                            'Columbia Pictures', 'Davis-Films', 'Metro-Goldwyn-Mayer', 'Miramax',
                            'Universal Pictures', 'Warner Bros.', 'Universal Pictures', 'Baltimore Pictures',
                            'Miramax', 'China Film', 'Icon Entertainment', 'Walt Disney', 'Walt Disney',
                            'Village Roadshow', 'Fountainbridge Films', 'Morgan Creek', 
                            'Beacon Communications', 'Working Title', 'Columbia Pictures', 'Huayi Brothers',
                            'Bazmark Films', 'Legendary Entertainment', 'Universal Pictures', 'Paramount',
                            'TriStar Pictures', 'Walt Disney', 'United Artists', 'Cruise/Wagner Productions',
                            'New Line', 'Universal Pictures', 'Babieka', 'New Line', 'Universal Pictures',
                            'Original Film', 'USA Films', 'Ardustry Entertainment', 'Paramount',
                            'Clinica Estetico', 'Paramount', 'Waverly Films', 'LHF Film',
                            'Amblin Entertainment', 'Universal Pictures', 'China Film', 'Ixtlan Productions', 
                            'Iron Horse', 'JC 23', 'Red Om', 'Relativity Media', 'Jerry Bruckheimer',
                            'Offspring Entertainment', 'Sunswept Entertainment', 'Cross Creek',
                            'Paramount', '21 Laps', 'Revolution Sun', 'Studio Ghibli', 'Davis Entertainment', 
                            'Sony Pictures', 'Cinesite Animation', 'Universal Pictures', 'New Line', 
                            'Universal Pictures', 'Broken Chair', 'Stephen J.', 'United Artists',
                            'Sony Pictures', 'Village Roadshow', 'Paramount', 'Fox 2000', 'Fortis Films',
                            'Summit Entertainment', 'Atlas Entertainment', 'Walt Disney', 'Happy Madison',
                            'Rekall Productions', 'Beijing Enlight', 'Summit Entertainment', 
                            'Enlight Pictures', 'Walt Disney', 'New Line', 'Kerner Entertainment',
                            'Dimension Films', 'Columbia Pictures', 'LBI Productions',
                            'Centropolis Entertainment', 'Paramount', 'Spyglass Entertainment',
                            'Columbia Pictures', 'Goldcrest Pictures', 'Double Dare', 'Warner Bros.',
                            'Walt Disney', 'Rocket Pictures', 'Waverly Films', 'Focus Features',
                            'Aardman Animations', 'Touchstone Pictures', 'Mel\'s Cite', 'Miramax',
                            'Filmko Pictures', 'Blumhouse Productions', 'Lonetree Entertainment',
                            'Vertigo Entertainment', 'Scott Rudin', 'Callahan Filmworks', 'Robert Simonds',
                            'Mace Neufeld', 'Columbia Pictures', 'Kopelson Entertainment',
                            'Walt Disney', 'DreamWorks Animation', 'Universe Films', 'Ten Thirteen',
                            '东阳坏猴子影视文化传播有限公司', 'TriStar Pictures', 'DC Entertainment', 
                            'Ingenious Media', 'Universal Pictures', 'New Regency', 'Forward Pass',
                            'Davis Entertainment', 'Vertigo Entertainment', 'Happy Madison',
                            'Toho Company', 'Wildwood Enterprises', 'Mars Media', 'DisneyToon Studios',
                            'Parallel Zide', 'Walt Disney', '40 Acres', 'Touchstone Pictures', 
                            'Paramount', 'Gold Circle', 'DC Comics', 'United Artists', 'Bazmark Films',
                            'Walt Disney', 'Illumination Entertainment', 'STX Entertainment',
                            'Anarchos Productions', 'Summit Entertainment', 'Walt Disney', 'Warner Bros.',
                            'Hey Eddie', 'Paramount', 'Icon Entertainment', 'Misher Films', 'United Artists',
                            'Universal Pictures', 'Doom Buggy', 'Caravan Pictures', 'Amblin Entertainment',
                            'Virtual Studios', 'Scott Rudin', 'Mosaic Media', '20th Century',
                            'The Zanuck', 'Miramax', 'Campbell Grobman', 'Universal Pictures',
                            'Touchstone Pictures', 'Red Granite', 'Scott Free', 'Permut Presentations',
                            '20th Century', 'Don Simpson/Jerry', 'Four By', 'JD Productions', 
                            'Mandeville Films', 'Marvel Enterprises', 'New Line', 'New Line',
                            'Goldcrest Pictures', 'Jersey Films', 'DreamWorks Animation',
                            'Dimension Films', 'Pacific Western', 'Good Machine', 'Paramount',
                            'Walt Disney', 'Uncharted', 'Paramount', 'Touchstone', 'Paramount',
                            'Paramount', 'Revolution Sun', 'Beijing New', 'Universal Pictures',
                            'Follow Through', 'DreamWorks Pictures', 'Dune Entertainment',
                            'Phoenix Film', 'Mirage Enterprises', 'Castle Rock', 'Spring Creek',
                            'Ram Bergman', 'Joseph M.', 'De Line', 'Two Ton', '20th Century',
                            'Universal Pictures', 'Imperative Entertainment', 'Mandeville Films',
                            'Playtone', 'Stuber Productions', 'Walt Disney', 'Regency Enterprises',
                            'Strike Entertainment', 'France 3', 'Film Fireworks', 'Gary Sanchez',
                            'New Line', 'Skydance Media', 'Reliance Entertainment', 'Woods Entertainment',
                            'Miramax', 'Jerry Bruckheimer', 'Fox Searchlight', 'Boxing Cat', 'Paramount',
                            'Miramax', 'Stuber Productions', 'DreamWorks Animation', 'Liberty Pictures',
                            'MTV Films', 'Paramount Vantage', 'Thunder Road', 'Interscope Communications',
                            'Happy Madison', 'South Side', 'Columbia Pictures', 'Chernin Entertainment', 
                            'Columbia Pictures', 'Jerry Weintraub', 'Nu Image', 'Dimension Films',
                            'Miramax', 'Columbia Pictures', 'Happy Madison', 'New Line', 'Weying Galaxy',
                            'Escape Artists', 'Walt Disney', 'Walt Disney', 'Universal Pictures', 
                            'Mediastream Vierte', 'Universal Pictures', 'Stage 6', 'Moving Picture',
                            'Prospect Park', 'Touchstone Pictures', 'Iron Horse', 'WR Universal',
                            'Right of', 'Universal Pictures', 'Propaganda Films', 'Propaganda Films']

In [23]:
len(Production_Company)

996

In [24]:
df['Production_Company'] = Production_Company #Created new column for clean version of Production Company list

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
df.columns

Index(['Title', 'Worldwide_Lifetime_Gross', 'Domestic_Lifetime_Gross',
       'Domestic_Percentage', 'Foreign_Lifetime_Gross',
       'Foreign_Lifetime_Percentage', 'Year', 'imdb_id',
       'belongs_to_collection', 'budget', 'genres', 'original_language',
       'popularity', 'production_companies', 'production_countries',
       'release_date', 'runtime', 'Production_Company'],
      dtype='object')

In [26]:
df.columns = ['Title', 'Worldwide_Lifetime_Gross', 'Domestic_Lifetime_Gross',
       'Domestic_Percentage', 'Foreign_Lifetime_Gross',
       'Foreign_Lifetime_Percentage', 'Year', 'IMDB_ID',
       'Belongs_To_Collection', 'Budget', 'Genres', 'Original_Language',
       'Popularity', 'Production_Companies', 'Production_Countries',
       'Release_date', 'Runtime', 'Production_Company']
#Renamed columns to maintain capitalization consistent

In [27]:
df

,Title,Worldwide_Lifetime_Gross,Domestic_Lifetime_Gross,Domestic_Percentage,Foreign_Lifetime_Gross,Foreign_Lifetime_Percentage,Year,IMDB_ID,Belongs_To_Collection,Budget,Genres,Original_Language,Popularity,Production_Companies,Production_Countries,Release_date,Runtime,Production_Company
0,Avengers: Endgame,2797800564,858373000,30.7%,1939427564,69.3%,2019,tt4154796,86311,356000000,'Adventure',en,41.244,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,181.0,Marvel Studios
1,Avatar,2790439000,760507625,27.2%,2029931375,72.8%,2009,tt0499549,87096,237000000,'Action',en,40.099,"[{'id': 444, 'logo_path': '/42UPdZl6B2cFXgNUAS...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,162.0,Dune Entertainment
2,Titanic,2194439542,659363944,30%,1535075598,70%,1997,tt0120338,No Collection,200000000,'Drama',en,33.658,"[{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,194.0,Paramount
3,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,45.3%,1131561399,54.7%,2015,tt2488496,10,245000000,'Action',en,40.452,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,136.0,Truenorth Productions
4,Avengers: Infinity War,2048359754,678815482,33.1%,1369544272,66.9%,2018,tt4154756,86311,300000000,'Adventure',en,66.376,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,149.0,Marvel Studios
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Magic Mike,167739368,113721571,67.8%,54017797,32.2%,2012,tt1915581,328247,7000000,'Drama',en,11.871,"[{'id': 34981, 'logo_path': None, 'name': 'Iro...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-06-28,110.0,WR Universal
996,Alexander,167298192,34297191,20.5%,133001001,79.5%,2004,tt0346491,No Collection,155000000,'War',en,21.080,"[{'id': 54997, 'logo_path': None, 'name': 'WR ...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2004-11-21,175.0,Right of
997,Up in the Air,166842739,83823381,50.2%,83019358,49.8%,2009,tt1193138,No Collection,25000000,'Drama',en,14.904,"[{'id': 32157, 'logo_path': '/nBD7uzlUlpivUpOo...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-09-05,110.0,Universal Pictures
998,Nutty Professor II: The Klumps,166339890,123309890,74.1%,43030000,25.9%,2000,tt0144528,86028,84000000,'Fantasy',en,12.950,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-07-27,106.0,Propaganda Films
999,Sleepers,165615285,53315285,32.2%,112300000,67.8%,1996,tt0117665,No Collection,44000000,'Crime',en,24.682,"[{'id': 278, 'logo_path': None, 'name': 'Propa...","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-10-18,147.0,Propaganda Films

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 996 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Title                        996 non-null    object
 1   Worldwide_Lifetime_Gross     996 non-null    int64
 2   Domestic_Lifetime_Gross      996 non-null    int64
 3   Domestic_Percentage          996 non-null    object
 4   Foreign_Lifetime_Gross       996 non-null    int64
 5   Foreign_Lifetime_Percentage  996 non-null    object
 6   Year                         996 non-null    int64
 7   IMDB_ID                      996 non-null    object
 8   Belongs_To_Collection        996 non-null    object
 9   Budget                       996 non-null    int64
 10  Genres                       996 non-null    object
 11  Original_Language            996 non-null    object
 12  Popularity                   996 non-null    float64
 13  Production_Companies         996 non-null    object
 14  Production_Countries         996 non-null    object
 15  Release_date                 996 non-null    object
 16  Runtime                      996 non-null    float64
 17  Production_Company           996 non-null    object
dtypes: float64(2), int64(5), object(11)
memory usage: 147.8+ KB

In [29]:
df.drop(columns=['Production_Companies', 'Production_Countries'], inplace=True) 
#Dropping both columns as I will not use them in my analysis

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [30]:
df

,Title,Worldwide_Lifetime_Gross,Domestic_Lifetime_Gross,Domestic_Percentage,Foreign_Lifetime_Gross,Foreign_Lifetime_Percentage,Year,IMDB_ID,Belongs_To_Collection,Budget,Genres,Original_Language,Popularity,Release_date,Runtime,Production_Company
0,Avengers: Endgame,2797800564,858373000,30.7%,1939427564,69.3%,2019,tt4154796,86311,356000000,'Adventure',en,41.244,2019-04-24,181.0,Marvel Studios
1,Avatar,2790439000,760507625,27.2%,2029931375,72.8%,2009,tt0499549,87096,237000000,'Action',en,40.099,2009-12-10,162.0,Dune Entertainment
2,Titanic,2194439542,659363944,30%,1535075598,70%,1997,tt0120338,No Collection,200000000,'Drama',en,33.658,1997-11-18,194.0,Paramount
3,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,45.3%,1131561399,54.7%,2015,tt2488496,10,245000000,'Action',en,40.452,2015-12-15,136.0,Truenorth Productions
4,Avengers: Infinity War,2048359754,678815482,33.1%,1369544272,66.9%,2018,tt4154756,86311,300000000,'Adventure',en,66.376,2018-04-25,149.0,Marvel Studios
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Magic Mike,167739368,113721571,67.8%,54017797,32.2%,2012,tt1915581,328247,7000000,'Drama',en,11.871,2012-06-28,110.0,WR Universal
996,Alexander,167298192,34297191,20.5%,133001001,79.5%,2004,tt0346491,No Collection,155000000,'War',en,21.080,2004-11-21,175.0,Right of
997,Up in the Air,166842739,83823381,50.2%,83019358,49.8%,2009,tt1193138,No Collection,25000000,'Drama',en,14.904,2009-09-05,110.0,Universal Pictures
998,Nutty Professor II: The Klumps,166339890,123309890,74.1%,43030000,25.9%,2000,tt0144528,86028,84000000,'Fantasy',en,12.950,2000-07-27,106.0,Propaganda Films
999,Sleepers,165615285,53315285,32.2%,112300000,67.8%,1996,tt0117665,No Collection,44000000,'Crime',en,24.682,1996-10-18,147.0,Propaganda Films

In [31]:
df.to_csv('clean_df.csv')
#Will convert to csv to have a completed clean version ready to be analyzed and converted to visuals